* {
    primary: #97d5a5;
    primary-fixed: #b3f1bf;
    primary-fixed-dim: #97d5a5;
    on-primary: #00391a;
    on-primary-fixed: #00210d;
    on-primary-fixed-variant: #15512d;
    primary-container: #15512d;
    on-primary-container: #b3f1bf;
    secondary: #b6ccb8;
    secondary-fixed: #d2e8d3;
    secondary-fixed-dim: #b6ccb8;
    on-secondary: #223526;
    on-secondary-fixed: #0d1f12;
    on-secondary-fixed-variant: #384b3c;
    secondary-container: #384b3c;
    on-secondary-container: #d2e8d3;
    tertiary: #a2ced9;
    tertiary-fixed: #beeaf6;
    tertiary-fixed-dim: #a2ced9;
    on-tertiary: #01363f;
    on-tertiary-fixed: #001f25;
    on-tertiary-fixed-variant: #204d56;
    tertiary-container: #204d56;
    on-tertiary-container: #beeaf6;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #101510;
    on-surface: #dfe4dc;
    on-surface-variant: #c1c9bf;
    outline: #8b938a;
    outline-variant: #414941;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dfe4dc;
    inverse-on-surface: #2d322d;
    inverse-primary: #306a43;
    surface-dim: #101510;
    surface-bright: #353a35;
    surface-container-lowest: #0a0f0b;
    surface-container-low: #181d18;
    surface-container: #1c211c;
    surface-container-high: #262b26;
    surface-container-highest: #313631;
}

/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #2121219f;
    bg1:    #2A2A2A;
    bg2:    #3D3D3D80;
    bg3:    #97d5a5;
    fg0:    #E6E6E6;
    fg1:    #FFFFFF;
    fg2:    #969696;
    fg3:    #3D3D3D;

    border: #81A1C100;
    background: @bg0;
    textcolor: #e0def4;
    accent1: #cc241d;
    accent2: #98971a;
    accent3: #d79921;
    accent4: #458588;
    selection: @on-secondary;
    selectionborder: @bg3;
    myhigh: bold #c4a7e7;
    searchcolor: #e0def499;
    powermenuselect: @bg3;
    nul: #00000000;
    borderradius: 20px;

    borderradiuselement: 9px;
}
